CareerFlow.Core/.idea/*
.env
CareerFlow.Core/src/CareerFlow.Core.Api/bin/*
CareerFlow.Core/src/CareerFlow.Core.Api/obj/*
CareerFlow.Core/src/CareerFlow.Core.Application/bin/*
CareerFlow.Core/src/CareerFlow.Core.Application/obj/*
CareerFlow.Core/src/CareerFlow.Core.Domain/bin/*
CareerFlow.Core/src/CareerFlow.Core.Domain/obj/*
CareerFlow.Core/src/CareerFlow.Core.Infrastructure/bin/*
CareerFlow.Core/src/CareerFlow.Core.Infrastructure/obj/*
CareerFlow.Core/src/CareerFlow.Core.Rabbit.Events/bin/*
CareerFlow.Core/src/CareerFlow.Core.Rabbit.Events/obj/*
CareerFlow.Core/tests/CareerFlow.Core.Api.IntegrationTests/bin/*
CareerFlow.Core/tests/CareerFlow.Core.Api.IntegrationTests/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Application.Tests/bin/*   
CareerFlow.Core/tests/CareerFlow.Core.Application.Tests/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Domain.Tests/bin/*   
CareerFlow.Core/tests/CareerFlow.Core.Domain.Tests/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Tests.Unit/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Tests.Unit/bin/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Test.Integration/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Test.Integration/bin/*
CareerFlow.UI/.vscode/settings.json
init-pw.sql
