CareerFlow.Core/.idea/*
.env
CareerFlow.Core/src/CareerFlow.Core.Api/bin/*
CareerFlow.Core/src/CareerFlow.Core.Api/obj/*
CareerFlow.Core/src/CareerFlow.Core.Application/bin/*
CareerFlow.Core/src/CareerFlow.Core.Application/obj/*
CareerFlow.Core/src/CareerFlow.Core.Domain/bin/*
CareerFlow.Core/src/CareerFlow.Core.Domain/obj/*
CareerFlow.Core/src/CareerFlow.Core.Infrastructure/bin/*
CareerFlow.Core/src/CareerFlow.Core.Infrastructure/obj/*
CareerFlow.Core/src/CareerFlow.Core.Rabbit.Events/bin/*
CareerFlow.Core/src/CareerFlow.Core.Rabbit.Events/obj/*
CareerFlow.Core/tests/CareerFlow.Core.Api.IntegrationTests/bin/*
CareerFlow.Core/tests/CareerFlow.Core.Api.IntegrationTests/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Application.Tests/bin/*   
CareerFlow.Core/tests/CareerFlow.Core.Application.Tests/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Domain.Tests/bin/*   
CareerFlow.Core/tests/CareerFlow.Core.Domain.Tests/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Tests.Unit/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Tests.Unit/bin/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Test.Integration/obj/*   
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Test.Integration/bin/*
CareerFlow.UI/.vscode/settings.json
*.dll
*.exe
*.exe.config
*.deps.json
*.runtimeconfig.json
CareerFlow.AI/__pycache__/*
CareerFlow.AI/app/__pycache__/*
CareerFlow.AI/app/courses/__pycache__/*
CareerFlow.AI/app/document_reader/*
CareerFlow.AI/careerflow_ai.egg-info/*
CareerFlow.AI/tests/__pycache__/*
CareerFlow.Core/tests/CareerFlow.Core.Api.Tests/bin/Debug/*
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Tests/obj/*
CareerFlow.AI/tests/integration/__pycache__/*
CareerFlow.AI/tests/integration/course/__pycache__/*
CareerFlow.AI/tests/integration/document_reader/__pycache__/*
CareerFlow.AI/tests/unit/__pycache__/*
CareerFlow.AI/tests/unit/course/__pycache__/*
CareerFlow.AI/tests/unit/document_reader/__pycache__/*
CareerFlow.Core/tests/CareerFlow.Core.Api.Tests/obj/*
CareerFlow.Core/tests/CareerFlow.Core.Domain.Test/bin/*
CareerFlow.Core/tests/CareerFlow.Core.Domain.Test/obj/*
CareerFlow.Core/tests/CareerFlow.Core.Infrastructure.Tests/bin/*